html {
	scroll-behavior: smooth;
}

body {
	background-color: #f8f8f8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


#full-header {
	width: 100%;
	background-color: #f8f8f8;
}

header {
	display: flex;
	margin: 0px auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f8f8f8;
}


header a.logo {
	padding-top: 0px;
	display: flex;
	margin-left: 5px;
}

header nav {
	display: inline-flex;
	align-items: center;
	margin-left: auto;
	justify-content: center;
}

header nav ul {
	list-style: none;
	display: inline-flex;
	background-color: #f8f8f8;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	height: 70%;

}

header nav ul li {
	padding: 12px;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 4px;
	padding-right: 10px;
	font-weight: 600;
	
}

header nav ul a {
	text-decoration: none;
	color: #7510F7;
}

header nav ul li.menu-dropdown ul {
	display: none;
}

header nav ul li:hover{
	background-color: #e9e9e9;
}


.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
  }

.menu a li {
	margin: 0 1rem;
	overflow: hidden;
	background-color: #7510F7;
	color: #fff;
	margin: 0 1rem;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
  
  .menu > li {
	margin: 0 1rem;
	overflow: hidden;
  }
  
  .menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #menu-toggle {
	display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
	display: block;
	background-color: #7510F7;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
  }
  
  .menu-button::before {
	content: '';
	margin-top: -8px;
  }
  
  .menu-button::after {
	content: '';
	margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
  }
  
  @media (max-width: 560px) {
	.menu-button-container {
	  display: flex;
	  margin-right: 10px;
	}
	
	.menu {
		position: absolute;
		top: 0;
		margin-top: 40px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		display: block;
	  }

	#menu-toggle ~ .menu li {
	  height: 0;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
	  border: 1px solid #a96ef7;
	  height: 2.5em;
	  padding: 0.5em;
	  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
	  display: flex;
	  justify-content: center;
	  margin: 0;
	  padding: 0.5em 0;
	  width: 100%;
	  color: white;
	  background-color: #7510F7;
	}
	.menu > li:not(:last-child) {
	  border-bottom: 1px solid #444;
	}
  }

.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding-top: 40px;
}

.div-titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-top: 40px;
}

.div-titulo h1 {
	font-size: 58px;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: bold;
	color: #2F2F2F;
	margin: 10px;
	text-align: center;
}

.div-titulo span {
	font-size: 25px;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 300;
	color: #2F2F2F;
	margin: 10px;
	text-align: center;
}

.div-titulo span::after {
	content: "|";
    margin-left: 4px;
    opacity: 1;
	animation: animate 1.7s linear infinite;
}

@keyframes animate {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 0;
	}
}

@media (max-width: 560px){
	header nav ul {
		display: none;
	}
	.div-titulo h1 {
		font-size: 56px;
	}
}



.eletronicos {
	display: flex;
	margin-top: 20px;
}

.eletronicos .divImgTop img {
	margin-bottom: -4px;
}

#container-sobre {
	width: 100%;
	padding: 40px;
	background-color: #7510F7;
}

.sobre {
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 160px;
	padding-top: 80px;
}

.sobre h1 {
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 28px;
	margin: 20px;
	color: #ffffff;
	font-weight: 900px;
}

.sobre p {
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;

}

@media (max-width: 1000px){
	.sobre {
		margin-right: 150px;
		margin-left: 150px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media (max-width: 650px){
	.sobre {
		margin-right: 0px;
		margin-left: 0px;
	}
	#container-sobre {
		padding: 10px;
	}
}

.container-habilidades {
	padding: 10px;
	margin: auto;
	margin-top: -80px;
}

.container-habilidades-interno {
	max-width: 1200px;
	padding: 10px;
	margin: auto;
	border-radius: 8px;
	box-shadow: 0px 0px 2px rgb(80, 80, 80);
	background-color: #ffffff;
	border-width: 1px;
  	border-style: solid;
  	border-color: #b3b3b3;
}

.titulo-habilidades {
	padding: 10px;
}

.titulo-habilidades h2 {
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 30px;
	color: #7510F7;
	font-weight: 900px;
}

.container-coluna-habilidades {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	border-radius: 8px;
	margin-top: 20px;
}

.coluna {
	width: 33%;
	padding: 10px;
	box-shadow: 0px 0px 1px #b983ff;
}

.coluna p {
	font-size: 22px;
	color: #7510F7;
	text-align: center;
	font-weight: normal;
	margin: 15px;
}

.container-circulo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.circulo {
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	border-radius: 50px;
	margin: 30px;
	border-width: 1px;
  	border-style: solid;
  	border-color: #7510F7;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 600px){
	.coluna {
		width: 100%;
	}

	.container-coluna-habilidades {
		display: flex;
		flex-direction: column;
	}

	.titulo-habilidades h2 {
		margin: 20px;
	}

	.container-habilidades-interno {
		padding: 0px;
	}
}

#container-portfolio {
	padding: 10px;
	margin-top: 0px;
}

.titulo-portfolio {
	padding: 10px;
	margin-top: 60px;
}

.titulo-portfolio h2 {
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 30px;
	color: #7510F7;
	font-weight: 900px;
}

.coluna-portfolio {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	padding: 10px;
	margin-top: 0px;
	
}

.portfolio {
	width: 27%;
	padding: 60px;
	box-shadow: 0px 0px 1px #761fe7;
	background-color: rgb(241, 243, 243);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}


.portfolio p {
	align-items: center;
	color: #7510F7;
	font-family: 'Red Hat Display', sans-serif;
}

.portfolio a img {
	width: 100%;
}

.portfolio:hover,
.portfolio:focus {
	background: #ffffff8e;

}

@media (max-width: 840px){
	.portfolio {
		width: 100%;
		margin: 20px;
	}

	.coluna-portfolio {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.portfolio:last-child{
		padding: 85px;
	}

	.portfolio:nth-child(2) {
		padding: 85px;
	}
}

.footer {
	padding: 10px;
	background-color: #7510F7;
}

.footer-principal {
	padding: 10px;
}

.div-logo-footer{
	padding: 0px;
	text-align: center;
	margin: 20px;
	
}

.frase {
	padding: 10px;
	max-width: 400px;
	margin: auto;
	text-align: center;
}

.frase p {
	color: #cdbae5;
	font-family: 'Red Hat Display', sans-serif;
}

.coluna-icons {
	padding: 10px;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.coluna-icons a {
	text-decoration: none;
}

.circulo-icon {
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background-color: #7510F7;
	border-width: 1px;
  	border-style: solid;
  	border-color: #caacf1;
	margin: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright {
	margin: auto;
	padding-top: 10px;
}

.copyright p {
	color: #cdbae5;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	text-align: center;
}

.coluna-icons a .circulo-icon:hover{
	background-color: #f8f8f8;
}